{% extends "base.html" %}
{% load static %}
<!-- Custom filter created in bag_tools.py -->
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'crypthomerch/css/crypthomerch.css' %}">
{% endblock %}

{% block extra_title %}
    shopping bag
{% endblock %}

{% block header %}
    <!-- Crypthomerch header -->
    {% include "includes/crypthomerch-header.html" %}
{% endblock %}

{% block sub_header %}
    <div class="container-fluid">
        <div class="row section-title py-2 ps-sm-4">
            <div class="col-12">
                <h3 class="text-uppercase mb-0 section-title-h">Shopping bag</h3>
            </div>            
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12">
                {% if bag_items %}
                    <!-- Shopping bag small screens layout -->
                    <div class="d-block d-md-none mb-5">
                        {% for item in bag_items %}
                            <div class="row">
                                <!-- Image -->
                                <div class="col-12 col-sm-6 mb-2">
                                    <div>
                                    {% if item.product.image %}
                                        <img class="img-fluid rounded w-100" src="/media/{{ item.product.image }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid rounded w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                    </div>
                                </div>
                                <!-- Name, size, sku and price each -->
                                <div class="col-12 col-sm-6 mb-2">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0"><strong>Size: </strong>
                                        {% if item.product.has_sizes %}
                                            {{ item.size|upper }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="my-2">Price Each: £{{ item.product.price }}</p>
                                    <!-- bag_tools custom filter -->
                                    <p class="my-2"><strong>Subtotal:</strong> £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <!-- Quantity input form -->
                                <div class="col-12 col-sm-6">
                                    <form method="POST" action="{% url 'adjust_bag' item.item_id %}" class="form update-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <!-- Decrementer -->
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn text-light border-white rounded-0" data-item_id="{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <!-- Input -->
                                                <input class="form-control qty_input qty_input_{{ item.item_id }}" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}">
                                                <!-- Incrementer -->
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn text-light border-white rounded-0" data-item_id="{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <!-- We need to submit the size of the item being updated ,,if any, in a hidden field -->
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Update and remove buttons -->
                                    <a class="update-link text-info link"><small>Update</small></a>
                                    <a class="remove-item text-danger link float-end" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </div>
                            </div>
                            <!-- Divider -->
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <!-- Bag total cost -->
                        <div class="row">
                            <div class="col pt-4">
                                <h6><strong>Bag total: £{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Checkout and keep shopping buttons -->
                        <div class="row text-end">
                            <div class="col pt-4">
                                <a href="{% url 'all_merch' %}" class="btn text-light border-white rounded-0 btn-lg">
                                    <span class="icon me-2">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn atb-btn text-light rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon ms-2">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- Back to top button -->
                        <div class="btt-button rounded-0 border">
                            <a class="btt-link link d-flex h-100 text-light">
                                <i class="fas fa-arrow-up mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Shopping bag large screens table -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-borderless text-light">
                            <!-- Table head -->
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <!-- Table body -->
                            {% for item in bag_items %}
                                <tr>
                                    <!-- Image -->
                                    <td class="p-3 w-25">
                                        <div>
                                        {% if item.product.image %}
                                            <img class="img-fluid rounded w-100" src="/media/{{ item.product.image }}" alt="{{ item.product.name }}">
                                        {% else %}
                                            <img class="img-fluid rounded w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                        </div>
                                    </td>
                                    <!-- Name, size and sku -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0"><strong>Size: </strong>
                                            {% if item.product.has_sizes %}
                                                {{ item.size|upper }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <!-- Price -->
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <!-- Quantity input form -->
                                    <td class="py-3 w-25">
                                        <form method="POST" action="{% url 'adjust_bag' item.item_id %}" class="form update-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <!-- Decrementer -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn text-light border-white rounded-0" data-item_id="{{ item.item_id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- Input -->
                                                    <input class="form-control qty_input qty_input_{{ item.item_id }}" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}">
                                                    <!-- Incrementer -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn text-light border-white rounded-0" data-item_id="{{ item.item_id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- We need to submit the size of the item being updated ,,if any, in a hidden field -->
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Update and remove buttons -->
                                        <a class="update-link text-info link"><small>Update</small></a>
                                        <a class="remove-item text-danger link float-end" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <!-- bag_tools custom filter -->
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- Bag total cost -->
                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    <h6><strong>Bag total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- Checkout and keep shopping buttons -->
                            <tr>
                                <td colspan="5" class="text-end">
                                    <a href="{% url 'all_merch' %}" class="btn text-light border-white rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn atb-btn text-light rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <!-- Empty bag layout -->
                    <p class="lead mb-5">Your bag is empty</p>
                    <a href="{% url 'all_merch' %}" class="btn text-light border-white rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Quantity input script -->
    {% include 'merch/includes/merch_quantity_input_script.html' %}
    <!-- Btt button script -->
    {% include 'merch/includes/back_to_top.html' %}

    <script type="text/javascript">
        // Update quantity on click
        // Submit form on clicking update-link
        document.querySelectorAll('.update-link').forEach((updateLink) => {
            updateLink.addEventListener('click', (e) => {
                let form = updateLink.previousElementSibling;
                form.submit();
            });
        });

        // Remove item and reload on click
        document.querySelectorAll('.remove-item').forEach((removeItem) => {
            removeItem.addEventListener('click', (e) => {
                let csrf = "{{ csrf_token }}";
                let itemId = removeItem.getAttribute('id').split('remove_')[1];
                let size = removeItem.dataset.product_size;
                let url = `/bag/remove/${itemId}/`;
                let data = {'csrfmiddlewaretoken': csrf, 'product_size': size};

                // Post above data to above URL and once the response comes back
                // from the server reload the page.
                $.post(url, data)
                 .done(function() {
                    location.reload();
                 });
            });
        });
    </script>
{% endblock %}


