{% extends "base.html" %}
{% load static %}
<!-- Filter to format numbers on template -->
{% load humanize %}

{% block extra_title %}
    Buy {{ api_data.0.name|title }}
{% endblock %}

{% block sub_header %}
    <div class="container-fluid">
        <div class="row section-title py-2 px-sm-4">
            <!-- Title -->
            <div class="col-{% if request.user.is_authenticated %}5{% else %}12{% endif %}">
                <h3 class="text-uppercase mb-0 section-title-h">Buy {{ api_data.0.name }}</h3>
            </div>
            {% if request.user.is_authenticated %}
                <!-- Available equity -->
                <div class="col-7">
                    <h4 class="mb-0 section-title-h allowance float-end"><span class="text-muted">Available equity:</span> £{% if current_allowance %}{{ current_allowance|intcomma }}{% else %}10000{% endif %} </h4>
                </div>
            {% endif %}    
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- If there is data coming from the API -->
    {% if api_data %}
        <div class="container-fluid px-5 my-4">
            <div class="row">
                <div class="col-12">
                    <!-- From 568px If coming from token page display back button, otherwise display go back to previous url page button -->
                    {% if request.META.HTTP_REFERER == url %}
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 tokenpg-back-btn float-start d-none d-md-block">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Back to {% if request.META.HTTP_REFERER == url %} {{ api_data.0.name }}`s {% else %} previous {% endif %} page</span>
                        </a>
                    {% else %}
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 back-btn float-start">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                        </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <!-- Add funds button -->
                        <a href="{% url 'add_funds' %}" class="btn bg-main text-light border-white rounded-0 back-btn float-end">
                            Add 10k
                            <span class="icon">
                                <i class="fas fa-money-bill-wave"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid buy-crypto-container {% if request.META.HTTP_REFERER == url %} mt-5 mt-md-3 {% else %} mt-3 {% endif %} mb-3">
            <!-- Token data -->
            <div class="row pb-3 buy-token-row text-center">
                <div class="col-6">
                    <p class="slategrey mb-1">Price</p>
                    <p class="buy-data mb-0">£{{ api_data.0.current_price|intcomma }}</p>
                </div>
                <div class="col-6">
                    <p class="slategrey mb-1">24h %</p>
                    <p class="buy-data mb-0">{{ api_data.0.price_change_percentage_24h|floatformat:2 }}%</p>
                </div>
            </div>

            <!-- Buy token form -->
            <form action="{% url 'buy_token' api_data.0.id %}" method="POST">
                {% csrf_token %}
                <div class="row pt-3">
                    <!-- GBP amount label -->
                    <label for="token-amount" class="pb-1 slategrey text-start">Enter GBP amount</label>
                    <!-- GBP amount input group -->
                    <div class="input-group">
                        <!-- GBP amount Input -->
                        <input class="form-control qty_input border-white rounded-0 bg-secondary text-center" type="number" id="gbp-amount" name="gbp-amount" placeholder="GBP amount">
                    </div>

                    <!-- Token amount equivalent to display for user -->
                    <p class="py-3 mb-0 slategrey">
                        Total {{ api_data.0.name }}: <span class="text-light token-amount"></span>
                    </p>
                </div>

                <!-- Buy button -->
                <div class="row pt-2">
                    <div class="col-12">
                        <button type="submit" class="btn rounded-0 text-uppercase w-100 token-pg-btn">
                            Buy {{ api_data.0.name }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Up to 568px If coming from token page display back button -->
        {% if request.META.HTTP_REFERER == url %}
            <div class="container-fluid ps-5 mt-3 d-block d-md-none">
                <div class="row">
                    <div class="col-12 float-start">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 tokenpg-back-btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Back to {{ api_data.0.name }}`s page</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    <!-- If no data coming from the API -->
    {% else %}
        <div class="container-fluid mt-4">
            {% if request.META.HTTP_REFERER == url %}
                <div class="row">
                    <div class="col-12">
                        <p>Oops..... Data is not available </p>
                    </div>
                    <div class="col-12 mt-4 float-start">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 tokenpg-back-btn">
                            <span class="icon">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to {{ api_data.0.name }}`s page</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <p>Oops..... Data is not available </p>
                    </div>
                    <div class="col-12 my-3 col-lg-7 text-end">  
                        <a href="{% url 'home' %}" class="btn text-light border-white rounded-0">
                            <span class="icon me-2">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Home Page</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Unlike the index html that has a separate external js file, in this page I had to use an internal script in order to use Django template in the filter function -->
    <script type="text/javascript">
        /* Create new instance of Websocket class and pass it the URL defined in routing.py */
        let socket = new WebSocket(`wss://${window.location.host}/ws/home/`);

        /* Add data coming from the consumer to a variable */
        socket.onmessage = function(event) {
            let ws_tokens = JSON.parse(event.data);

            /* Filter through the consumer data to only extract the token matching the URL id */
            let newDataBuyTokenPg = ws_tokens.filter(ws_token => ws_token.id == "{{ api_data.0.id }}");
            
            /* Append extracted token to the appropriate container */
            document.querySelector(".buy-token-row").innerHTML = `
                <div class="col-6">
                    <p class="slategrey mb-1">Price</p>
                    <p class="buy-data mb-0 ${newDataBuyTokenPg[0].direction === "higher" ? "higher" : newDataBuyTokenPg[0].direction === "lower" ? "lower" : "same"}">£${newDataBuyTokenPg[0].price.toLocaleString()}</p>
                </div>
                <div class="col-6">
                    <p class="slategrey mb-1">24h %</p>
                    <p class="buy-data mb-0">${newDataBuyTokenPg[0].price_change.toFixed(2)}%</p>
                </div>
            `;
        };

        // On change, display to the user token amount equivalent to GBP input.
        document.getElementById('gbp-amount').addEventListener('change', () => {
            let tokenAmount = document.querySelector('.token-amount');
            tokenAmount.innerText = (document.getElementById('gbp-amount').value / "{{ api_data.0.current_price }}");
        });
    </script>
{% endblock %}
