{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Buy {{ db_token }}
{% endblock %}

{% block sub_header %}
    <div class="row section-title py-2 ps-sm-4">
        <div class="col-12">
            <h3 class="text-uppercase mb-0 section-title-h">Buy {{ db_token }}</h3>
        </div>            
    </div>
{% endblock %}

{% block hero_section %}
    {% include "includes/background-img.html" %}
{% endblock %}

{% block content %}
    <!-- If there is data coming from the API, Iterate through it and if the API's token id matches the database token id in the URL, display it's data -->
    {% if api_data %}
        {% for api_token in api_data %}
            {% if api_token.id == db_token.id %}
                <div class="container-fluid buy-crypto-container mt-4">
                    <!-- Token data -->
                    <div class="row pb-3 buy-token-row text-center">
                        <div class="col-6">
                            <p class="slategrey mb-1">Price</p>
                            <p class="buy-data mb-0">£{{ api_token.current_price }}</p>
                        </div>
                        <div class="col-6">
                            <p class="slategrey mb-1">24h %</p>
                            <p class="buy-data mb-0">{{ api_token.price_change_percentage_24h|floatformat:2 }}%</p>
                        </div>
                    </div>

                    <!-- Monetary inputs -->
                    <div class="row pt-3">
                        <!-- Token amount label -->
                        <label for="token-amount" class="pb-1 slategrey text-start">Enter {{ api_token.name }} amount</label>
                        <!-- Token amount input group -->
                        <div class="input-group">
                            <!-- Token decrementer -->
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn text-white border-white rounded-0" data-item_id="">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <!-- Token amount Input -->
                            <input class="form-control qty_input border-0 rounded-0 bg-secondary text-center" type="number" value="0" min="1" id="token-amount" name="token-amount" placeholder="{{ api_token.name }} amount">
                            <!-- Token incrementer -->
                            <div class="input-group-append">
                                <button class="increment-qty btn text-white border-white rounded-0" data-item_id="">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <!-- GBP amount label -->
                        <label for="gbp-amount" class="pb-1 slategrey text-start mt-2">Total (GBP)</label>
                        <!-- GBP amount input group -->
                        <div class="input-group">
                            <!-- GBP decrementer -->
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn text-white border-white rounded-0" data-item_id="">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <!-- GBP Input -->                              
                            <input class="form-control qty_input border-0 rounded-0 bg-secondary text-center" type="number" value="0" min="1" id="gbp-amount" name="gbp-amount" placeholder="Total (GBP)">
                            <!-- GBP incrementer -->
                            <div class="input-group-append">
                                <button class="increment-qty btn text-white border-white rounded-0" data-item_id="">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Buy buttons -->
                    <div class="row pt-4">
                        <div class="col-12">
                            <button type="button" class="btn rounded-0 text-uppercase w-100 token-pg-btn">
                                Buy {{ api_token.name }}
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h3 class="text-center mt-5 text-uppercase">
                    Ooops...
                    <br>
                    Data is not available
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Quantity input script -->
    {% include 'home/includes/crypto_quantity_input_script.html' %}

    <!-- Unlike the index html that has a separate external js file, in this page I had to use an internal script in order to use Django template in the filter function -->
    <script type="text/javascript">
        /* Create new instance of Websocket class and pass it the URL defined in routing.py */
        let socket = new WebSocket(`wss://${window.location.host}/ws/home/`);

        /* Add data coming from the consumer to a variable */
        socket.onmessage = function(event) {
            let ws_tokens = JSON.parse(event.data);
            console.log(ws_tokens);

            /* Filter through the consumer data to only extract the token matching the URL id */
            let newDataBuyTokenPg = ws_tokens.filter(ws_token => ws_token.id == "{{ db_token.id }}");
            console.log(newDataBuyTokenPg);
            
            /* Append extracted token to the appropriate container */
            document.querySelector(".buy-token-row").innerHTML = `
                <div class="col-6">
                    <p class="slategrey mb-1">Price</p>
                    <p class="buy-data mb-0 ${newDataBuyTokenPg[0].direction === "higher" ? "higher" : newDataBuyTokenPg[0].direction === "lower" ? "lower" : "same"}">£${newDataBuyTokenPg[0].price}</p>
                </div>
                <div class="col-6">
                    <p class="slategrey mb-1">24h %</p>
                    <p class="buy-data mb-0">${newDataBuyTokenPg[0].price_change.toFixed(2)}%</p>
                </div>
            `;
        }
    </script>
{% endblock %}
