{% extends "base.html" %}
{% load static %}
<!-- Filter to format numbers on template -->
{% load humanize %}

{% block extra_title %}
    search result
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta crypto-cta d-block d-md-flex justify-content-center align-items-center">
                <h4 class="body-white text-uppercase me-md-5 mb-md-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4> 
                <a href="{% url 'all_merch' %}" class="btn rounded-0 text-uppercase">View Collection</a>
            </div>            
        </div>
    </div>
{% endblock %}

{% block hero_section %}
    {% include "includes/background-img.html" %}
{% endblock %}

{% block content %}
    <!-- Intro marquee -->
    <div class="container-fluid">
        <div class="row section-title py-2 px-sm-4">
            <div class="col-12">
                <marquee behavior="scroll" direction="left" scrollamount="11" class="mb-0">This is a demo crypto trading platform. Buy and sell crypto, manage your balance and positions from your portfolio page. Explore tokens history, chart, data and purpose on their detailed page. Have fun!</marquee>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-3 mb-5">
        <!-- If the query has been found in the data coming from the API, Iterate through it, create a table and display it's data-->
        {% if results %}
            <!-- Dynamic price update time -->
            <div class="update-time mb-2 small"></div>
            <!-- Table large screens -->
            <table class="table table-borderless d-none d-sm-table">
                <!-- Table head -->
                <thead class="crypto-thead text-light text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-end">Price (£)</th>
                        <th scope="col" class="text-end"">24h %</th>
                        <th scope="col" class="text-end"">Market Cap (£)</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody class="crypto-tbody text-center text-light large-table">
                {% for result in results %}
                    <!-- Create a table row for each token in results -->
                    <tr>
                        <td class="align-middle">{{ result.market_cap_rank }}</td>
                        <td class="align-middle text-start">
                            <a href="{% url 'token_page' result.id %}" class="text-light link">
                                <img src={{result.image}} height="30"> 
                                {{ result.name }}
                                <span class="text-uppercase fw-bold symbol">{{ result.symbol }}</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <!-- Buy button -->
                            <a href="{% url 'buy_token_page' result.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                        </td>
                        <td class="align-middle text-end price">{{ result.current_price|floatformat:2|intcomma }}</td>
                        <td class="align-middle text-end">{{ result.price_change_percentage_24h|floatformat:2 }}</td>
                        <td class="align-middle text-end price">{{ result.market_cap|intcomma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Table small screens -->
            <table class="table table-borderless d-sm-none">
                <!-- Table body small -->
                <tbody class="crypto-tbody text-center text-light small-table">
                {% for result in results %}
                    <!-- Create a table row for each token in data -->
                    <tr>
                        <td class="align-middle"><img src={{result.image}} height="30"></td>
                        <td class="text-start">
                            <a href="{% url 'token_page' result.id %}" class="text-light link">
                                {{ result.name }}
                                <br>
                                <span class="bg-dark btn-sm">{{ result.market_cap_rank }}</span>
                                <span class="text-uppercase fw-bold x-small">{{ result.symbol }}  {{ result.price_change_percentage_24h|floatformat:2}}%</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <!-- Buy button -->
                            <a href="{% url 'buy_token_page' result.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                        </td>
                        <td class="align-middle text-end">£<span class="price">{{ result.current_price|floatformat:2|intcomma }}</span>
                            <br>
                            <span class="x-small">MCap £<span class="price">{{ result.market_cap|intcomma }}</span></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- No data layout -->
            <p class="lead mb-5">Ooops.. Data is not available</p>
            <a href="{% url 'home' %}" class="btn text-light border-white rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Homepage</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

<!-- Unlike the index html that has a separate external js file, in this page I had to use an internal script in order to use Django template in the filter function -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        /* Create new instance of Websocket class and pass it the URL defined in routing.py */
        let socket = new WebSocket(`wss://${window.location.host}/ws/home/`);

        /* Add data coming from the consumer to a variable */
        socket.onmessage = function(event) {
            let ws_tokens = JSON.parse(event.data);

            /* Filter through the consumer data to only extract the tokens included in the results_id array */
            let newDataTokenPg = ws_tokens.filter(ws_token => "{{ results_id }}".includes(ws_token.id));

            /* Create a variable to populate the large table, that loops through each token and creates a row with token data for each */
            let newDataLg = newDataTokenPg.map(ws_token => 
                `<tr>
                    <td class="align-middle">${ws_token.rank}</td>
                    <td class="align-middle text-start">
                        <a href="token_page/${ws_token.id}/" class="text-light link">
                            <img src=${ws_token.image} height="30"> 
                            ${ws_token.name}
                            <span class="text-uppercase fw-bold symbol">${ws_token.symbol}</span>
                        </a>
                    </td>
                    <td class="align-middle">
                        <!-- Buy button -->
                        <a href="/buy_token_page/${ws_token.id}/" class="btn rounded-0 text-uppercase">Buy</a>
                    </td>
                    <td class="align-middle text-end price ${ws_token.direction === "higher" ? "higher" : ws_token.direction === "lower" ? "lower" : "same"}">${ws_token.price}</td>
                    <td class="align-middle text-end">${ws_token.price_change.toFixed(2)}</td>
                    <td class="align-middle text-end price">${ws_token.market_cap}</td>
                </tr>`
            );

            /* Create a variable to populate the small table, that loops through each token and creates a row with token data for each */
            let newDataSm = newDataTokenPg.map(ws_token => 
                `<tr>
                    <td class="align-middle"><img src=${ws_token.image} height="30"></td>
                    <td class="text-start">
                        <a href="token_page/${ws_token.id}/" class="text-light link">
                            ${ws_token.name}
                            <br><span class="bg-dark btn-sm">${ws_token.rank}</span>
                            <span class="text-uppercase fw-bold x-small">${ws_token.symbol}  ${ws_token.price_change.toFixed(2)}%</span>
                        </a>
                    </td>
                    <td class="align-middle">
                        <!-- Buy button -->
                        <a href="/buy_token_page/${ws_token.id}/" class="btn rounded-0 text-uppercase">Buy</a>
                    </td>
                    <td class="align-middle text-end ${ws_token.direction === "higher" ? "higher" : ws_token.direction === "lower" ? "lower" : "same"}">£<span class="price">${ws_token.price}</span>
                        <br><span class="x-small text-light">MCap £<span class="price">${ws_token.market_cap}</span></span>
                    </td>
                </tr>`
            );

            /* Add respective variables to the small-table and large-table divs */
            document.querySelector(".large-table").innerHTML = newDataLg;
            document.querySelector(".small-table").innerHTML = newDataSm;

            /* Replace all array items dividing commas with an empty string for correct table display */
            document.querySelector(".small-table").innerHTML = document.querySelector(".small-table").innerHTML.replace(/,/g, "");
            document.querySelector(".large-table").innerHTML = document.querySelector(".large-table").innerHTML.replace(/,/g, "");

            /* Convert token price amd Mcap from websocket into locale string format */
            document.querySelectorAll('.price').forEach(price => {
                price.innerText = parseFloat(price.innerText).toLocaleString();
            });

            /* Display new date object everytime the websocket send data */
            let date = new Date();
            let dateString = date.toLocaleString();
            document.querySelector('.update-time').innerText = `Price last update: ${dateString}`;
        };
    </script>
{% endblock %}