{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    home page
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta crypto-cta d-block d-md-flex justify-content-center">
                <h4 class="text-white text-uppercase me-md-5 mb-md-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4> 
                <a href="{% url 'all_merch' %}" class="btn rounded-0 text-uppercase">View Collection</a>
            </div>            
        </div>
    </div>
{% endblock %}

{% block hero_section %}
    {% include "includes/background-img.html" %}
{% endblock %}

{% block content %}
    <!-- If there is data coming from the API, Iterate through it, create a table and display it's data-->
    {% if api_data %}
        <div class="container-fluid mt-3 mb-5">
            <!-- Table large screens -->
            <table class="table table-borderless d-none d-sm-table">
                <!-- Table head -->
                <thead class="text-light text-center">
                    <tr>
                        <th scope="col "></th>
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-end">Price (£)</th>
                        <th scope="col" class="text-end"">24h %</th>
                        <th scope="col" class="text-end"">Market Cap (£)</th>
                    </tr>
                </thead>

                <!-- Table body -->
                {% for api_token in api_data %}
                    <tbody class="text-center text-light large-table">
                        <!-- Create a table row for each token in data -->
                        <tr>
                            <td class="align-middle"><i class="far fa-star favourites"></i></td>
                            <td class="align-middle">{{ api_token.market_cap_rank }}</td>
                            <td class="align-middle text-start">
                                <a href="{% url 'token_page' api_token.id %}" class="text-light link">
                                    <img src={{api_token.image}} height="30"> 
                                    {{ api_token.name }}
                                    <span class="text-uppercase fw-bold symbol">{{ api_token.symbol }}</span>
                                </a>
                            </td>
                            <td class="align-middle">
                                <!-- Buy button -->
                                <a href="{% url 'buy_token' api_token.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                            </td>
                            <td class="align-middle text-end">{{ api_token.current_price }}</td>
                            <td class="align-middle text-end">{{ api_token.price_change_percentage_24h|floatformat:2 }}</td>
                            <td class="align-middle text-end">{{ api_token.market_cap }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>

            <!-- Table small screens -->
            <table class="table table-borderless d-sm-none">
                <!-- Table body small -->
                {% for api_token in api_data %}
                    <tbody class="text-center text-light small-table">
                        <!-- Create a table row for each token in data -->
                        <tr>
                            <td class="align-middle"><img src={{api_token.image}} height="30"></td>
                            <td class="text-start">
                                <a href="{% url 'token_page' api_token.id %}" class="text-light link">
                                    {{ api_token.name }}
                                    <br>
                                    <span class="bg-dark btn-sm">{{ api_token.market_cap_rank }}</span>
                                    <span class="text-uppercase fw-bold x-small">{{ api_token.symbol }}  {{ api_token.price_change_percentage_24h|floatformat:2}}%</span>
                                </a>
                            </td>
                            <td class="align-middle">
                                <!-- Buy button -->
                                <a href="{% url 'buy_token' api_token.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                            </td>
                            <td class="align-middle text-end">£{{ api_token.current_price }}
                                <br>
                                <span class="x-small">MCap £{{ api_token.market_cap }}</span>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h3 class="text-center mt-5 text-uppercase">
                    Ooops...
                    <br>
                    Data is not available
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Script for Websocket connection -->
    <script type="text/javascript" src="{% static 'home/js/websocket.js' %}"></script>
    <!-- Script to toggle watchlist icon class -->
    <script type="text/javascript" src="{% static 'home/js/watchlist.js' %}"></script>
{% endblock %}