{% extends "base.html" %}
{% load static %}
<!-- Filter to format numbers on template -->
{% load humanize %}

{% block extra_title %}
    home page
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta crypto-cta d-block d-md-flex justify-content-center">
                <h4 class="body-white text-uppercase me-md-5 mb-md-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4> 
                <a href="{% url 'all_merch' %}" class="btn rounded-0 text-uppercase">View Collection</a>
            </div>            
        </div>
    </div>
{% endblock %}

{% block hero_section %}
    {% include "includes/background-img.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3 mb-5">
    <!-- If there is data coming from the API, Iterate through it, create a table and display it's data-->
        {% if api_data %}
            <!-- Table large screens -->
            <table class="table table-borderless d-none d-sm-table">
                <!-- Table head -->
                <thead class="crypto-thead text-light text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-end">Price (£)</th>
                        <th scope="col" class="text-end"">24h %</th>
                        <th scope="col" class="text-end"">Market Cap (£)</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody class="crypto-tbody text-center text-light large-table">
                {% for api_token in api_data %}
                    <!-- Create a table row for each token in data -->
                    <tr>
                        <!-- Token info -->
                        <td class="align-middle">{{ api_token.market_cap_rank }}</td>
                        <td class="align-middle text-start">
                            <a href="{% url 'token_page' api_token.id %}" class="text-light link">
                                <img src={{api_token.image}} height="30"> 
                                {{ api_token.name }}
                                <span class="text-uppercase fw-bold symbol">{{ api_token.symbol }}</span>
                            </a>
                        </td>
                        <!-- Buy button -->
                        <td class="align-middle">
                            <a href="{% url 'buy_token_page' api_token.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                        </td>
                        <!-- Token info -->
                        <td class="align-middle text-end">{{ api_token.current_price|floatformat:2|intcomma }}</td>
                        <td class="align-middle text-end">{{ api_token.price_change_percentage_24h|floatformat:2 }}</td>
                        <td class="align-middle text-end">{{ api_token.market_cap|intcomma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Table small screens -->
            <table class="table table-borderless d-sm-none">
                <!-- Table body small -->
                <tbody class="crypto-tbody text-center text-light small-table">
                {% for api_token in api_data %}
                    <!-- Create a table row for each token in data -->
                    <tr>
                        <!-- Token info -->
                        <td class="align-middle"><img src={{api_token.image}} height="30"></td>
                        <td class="text-start">
                            <a href="{% url 'token_page' api_token.id %}" class="text-light link">
                                {{ api_token.name }}
                                <br>
                                <span class="bg-dark btn-sm">{{ api_token.market_cap_rank }}</span>
                                <span class="text-uppercase fw-bold x-small">{{ api_token.symbol }}  {{ api_token.price_change_percentage_24h|floatformat:2}}%</span>
                            </a>
                        </td>
                        <!-- Buy button -->
                        <td class="align-middle">
                            <a href="{% url 'buy_token_page' api_token.id %}" class="btn rounded-0 text-uppercase">Buy</a>
                        </td>
                        <!-- Token info -->
                        <td class="align-middle text-end">£{{ api_token.current_price|floatformat:2|intcomma }}
                            <br>
                            <span class="x-small">MCap £{{ api_token.market_cap|intcomma }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- No data layout -->
            <p class="lead mb-5">Ooops.. Data is not available</p>
            <a href="{% url 'home' %}" class="btn text-light border-white rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Homepage</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Script for Websocket connection -->
    <script type="text/javascript" src="{% static 'home/js/websocket.js' %}"></script>
{% endblock %}