{% extends "base.html" %}
{% load static %}
<!-- Filter to format numbers on template -->
{% load humanize %}
<!-- Custom filter created in position_tools.py -->
{% load position_tools %}

{% block extra_title %}
    portfolio
{% endblock %}

{% block sub_header %}
    <div class="container-fluid">
        <div class="row section-title py-2 px-sm-4 portfolio-header-row">
            <!-- Title -->
            <div class="col-6 col-md-4">
                <h3 class="text-uppercase mb-0 section-title-h">My Portfolio</h3>
            </div>
            <!-- Medium screen Cash available -->
            <div class="col-4 d-none d-md-block">
                <h4 class="mb-0 section-title-h allowance text-center"><span class="text-muted">Cash:</span> £{{ user_allowance|floatformat:2|intcomma }}</h4>
            </div>
            <!-- Medium screen Portfolio value -->
            <div class="col-4 d-none d-md-block">
                <h4 class="mb-0 section-title-h allowance float-end"><span class="text-muted">Value:</span> £{{ portfolio_value|floatformat:2|intcomma }}</h4>
            </div>
            <!-- Small screen Cash and Portfolio values -->
            <div class="col-6 d-block d-md-none text-end">
                <h4 class="mb-0 section-title-h allowance"><span class="text-muted">Cash:</span> £{{ user_allowance|floatformat:2|intcomma }}</h4>
                <h4 class="mb-0 section-title-h allowance"><span class="text-muted">Value:</span> £{{ portfolio_value|floatformat:2|intcomma }}</h4>
            </div>        
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid token-pg-container pt-md-3 pb-3">
        <!-- Stat chart -->
        <div class="row">
            <div class="col-12">
                <!-- Styles -->
                <style>
                #chartdiv {
                width: 100%;
                height: 500px;
                }
                </style>

                <!-- Resources -->
                <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

                <!-- Chart code -->
                <script>
                am4core.ready(function() {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                // Create chart instance
                var chart = am4core.create("chartdiv", am4charts.PieChart);

                // Add data
                chart.data = {{ tokens_list|safe }};

                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "gbp_amount";
                pieSeries.dataFields.category = "token";
                pieSeries.slices.template.stroke = am4core.color("#fff");
                pieSeries.slices.template.strokeOpacity = 1;
                pieSeries.labels.template.fill = am4core.color("white");
                pieSeries.labels.template.fontSize = 12;
                pieSeries.alignLabels = false;
                pieSeries.labels.template.bent = true;
                // To show only txt without percentage on labels.
                pieSeries.labels.template.text = "{category}";

                // This creates initial animation
                pieSeries.hiddenState.properties.opacity = 1;
                pieSeries.hiddenState.properties.endAngle = -90;
                pieSeries.hiddenState.properties.startAngle = -90;

                chart.hiddenState.properties.radius = am4core.percent(0);
                }); // end am4core.ready()
                </script>

                <!-- HTML -->
                <div id="chartdiv"></div>
            </div>
        </div>

        <!-- Divider -->
        <div class="row"><div class="col"><hr class="bg-light border-2 border-top border-light"></div></div>

        <!-- Open orders -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <!-- Title -->
                        <h4 class="mb-0 section-title-h">Open orders:</h4>
                        <!-- Add funds button -->
                        <a href="{% url 'add_funds' %}" class="btn bg-main text-light border-white rounded-0 back-btn float-end">
                            Add 10k
                            <span class="icon">
                                <i class="fas fa-money-bill-wave"></i>
                            </span>
                        </a>
                    </div>
                </div>
                {% if positions %}
                    <!-- Table -->
                    <table class="table table-borderless mt-3">
                        <!-- Table body -->
                        <tbody class="crypto-tbody order-tbody text-center text-light small-table">
                            {% for position in positions %}
                                <tr>
                                    <td class="text-start align-middle">
                                        <p class="mb-0">{{ position.token_symbol|upper }}/GBP</p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0"><span class="text-muted small">Amount:</span> <span class="small">{{ position.token_amount|floatformat:2 }}/{{ position.gbp_amount|floatformat:2|intcomma }}</span></p>
                                        <p class="mb-0"><span class="text-muted small">Bought at</span> <span class="small">{{ position.token_price|floatformat:2|intcomma }}</span></p>
                                    </td>
                                    <!-- Calculate current value of position by multiplicating amount of token bought by api token current price-->
                                    <td class="align-middle">
                                        <p class="text-muted small mb-0">Current value:</p>
                                        {% for token in data %}
                                            {% if position.token_id == token.id %}
                                                £{{ position.token_amount | calc_current_total:token.current_price|floatformat:2|intcomma }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        <!-- Sell button -->
                                        <a href="{% url 'sell_token' position.id %}" class="btn rounded-0 text-uppercase sell-btn">Sell</a>
                                    </td>
                                    <td class="align-middle text-end">
                                        <p class="mb-0 text-muted small">{{ position.date }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <!-- No open orders message -->
                    <div class="row">
                        <div class="col-12">
                            <h5 class="mt-3 mb-5 section-title-h text-muted">You don't have any open orders yet</h5>
                        </div>
                    </div>
                {% endif %}
            </div>            
        </div>
{% endblock %}
