{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'crypthomerch/css/crypthomerch.css' %}">
{% endblock %}

{% block extra_title %}
    checkout success
{% endblock %}

{% block header %}
    <!-- Crypthomerch header -->
    {% include "includes/crypthomerch-header.html" %}
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta merch-cta">
                <h4 class="text-light text-uppercase mb-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4>
            </div>            
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Order summary -->
    <div class="container">
        <!-- Order Confirmation -->
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="mb-4">Thank You</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <!-- Summary -->
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="p-2 border">
                    <!-- Order info header -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>
                    <!-- Order info -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <!-- Order info -->
                    <div class="row mb-1">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <!-- Order details header -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    <!-- Order details -->
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-info font-weight-bold">
                                {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Delivery info header -->
                    <div class="row mt-1">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>
                    <!-- Delivery name -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <!-- Delivery address -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    <!-- Delivery address2 -->
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Delivery county -->
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Delivery town -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    <!-- Delivery postcode -->
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Delivery country -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <!-- Delivery phone -->
                    <div class="row mb-1">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <!-- Billing info header -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                    <!-- Billing info -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-info font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- View collection buttons -->
        <div class="row">
            {% if from_profile %}
                <div class="col-12 my-3 col-lg-7 text-end">  
                    <a href="{% url 'profile' %}" class="btn text-light border-white rounded-0">
                        <span class="icon me-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                </div>
            {% else %}
                <div class="col-12 cta crypto-cta col-lg-7 text-end">  
                    <a href="{% url 'all_merch' %}" class="btn rounded-0 text-uppercase">View Collection</a>
                </div>
            {% endif %}
		</div>        
{% endblock %}