{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'crypthomerch/css/crypthomerch.css' %}">
{% endblock %}

{% block extra_title %}
    Crypthomerch
{% endblock %}

{% block header %}
    <!-- Crypthomerch header -->
    {% include "includes/crypthomerch-header.html" %}
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta merch-cta">
                <h4 class="text-white text-uppercase mb-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4>
            </div>            
        </div>
    </div>
{% endblock %}

{% block sub_header %}
    <!-- Crypthomerch accordion -->
    {% include "includes/products-menu-accordion.html" %}
{% endblock %}

{% block hero_section %}
    <!-- Hero images for slideshow-->
    <section class="merch-hero pt-4 pb-5">
        <!-- First image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}eth-tshirt.jpg" alt="crypto-main-img">
        </div>

        <!-- Second image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}bitcoin-hodl-tshirt.jpg" alt="crypto-main-img">
        </div>

        <!-- Third image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}planb-tshirt.png" alt="crypto-main-img">
        </div>

        <!-- Fourth image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}cryptohaven-mugs.png" alt="crypto-main-img">
        </div>

        <!-- Fifth image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}uniswap-tshirt.jpg" alt="crypto-main-img">
        </div>

        <!-- Sixth image -->
        <div class="slideshow slideshow-fade">
            <img class="merch-hero-img" src="{{ MEDIA_URL }}girl-loves-dogecoin-tshirt.jpg" alt="crypto-main-img">
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    <!-- Slideshow script -->
    <script type="text/javascript" src="{% static 'crypthomerch/js/slideshow.js' %}"></script>
{% endblock %}
