/* merch header */
.merch-logo {
    font-family: 'Press Start 2P', cursive;
    font-size:50px;
}

.merch-logo-main {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.merch-logo-ext {
    color:#ffc107;
}

.merch-nav-link {
    font-size: 18px;
}

/* cta */
.merch-cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* merch accordion */
.accordion-button {
    border: 1px solid #07011c;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    background-color: #07011c;
    box-shadow: none;
    border: 1px solid #07011c;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body ul li a {
    display:block;
    color:#07011c;
    padding:8px 0;
}

.accordion-body ul li a:hover {
    background-color:#07011c;
    color: #f8f9fa;
}

/* merch hero image */
.merch-hero img {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

/* merch hero image fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

/* media queries */
@media (max-width: 1100px) {
    .merch-logo {
        font-size: 45px;
    }
}

@media (max-width: 1000px) {
    .merch-logo {
        font-size: 40px;
    }
}

@media (max-width: 930px) {
    .merch-logo {
        font-size: 35px;
    }
}

@media (max-width: 840px) {
    .merch-logo {
        font-size: 32px;
    }

    .merch-nav-link {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .merch-logo {
        font-size: 31px;
    }
}

@media (max-width: 630px) {
    .merch-logo {
        font-size: 29px;
    }

    .merch-nav-link {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .merch-logo {
        font-size: 28px;
    }

    .merch-nav-link {
        font-size: 12px;
    }

    .accordion-button {
        font-size: 14px;
    }

    .accordion-body ul li a {
        font-size: 14px;
        padding:6px 0;
    }
}

@media (max-width: 525px) {
    .merch-logo {
        font-size: 24px;
    }
}

@media (max-width: 460px) {
    .merch-logo {
        font-size: 21px;
    }
}

@media (max-width: 450px) {
    .merch-cta {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}

@media (max-width: 430px) {
    .merch-logo {
        font-size: 19px;
    }

    .merch-nav-link {
        font-size: 10px;
    }

    .merch-list-item:not(:last-child) {
        margin-right: .3rem;
    }
}

@media (max-width: 376px) {
    .merch-logo {
        font-size: 17px;
    }
}
