/* Merch header */
.merch-logo {
    font-family: 'Press Start 2P', cursive;
    font-size:50px;
}

.merch-logo-main {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.merch-logo-ext {
    color:#ffc107;
}

/* Call to action */
.merch-cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Merch accordion */
.accordion-button {
    border: 1px solid #07011c;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    background-color: #07011c;
    box-shadow: none;
    border: 1px solid #07011c;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body ul li a {
    display:block;
    color:#07011c;
    padding:8px 0;
}

.accordion-body ul li a:hover {
    background-color:#07011c;
    color: #f8f9fa;
}

/* Merch hero image */
.merch-hero img {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

/* Merch hero image fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

/* Media queries */
@media (max-width: 992px) {
    .merch-logo {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .merch-logo {
        font-size: 45px;
    }
}

@media (max-width: 630px) {
    .merch-logo {
        font-size: 42px;
    }
}

@media (max-width: 576px) {
    .merch-logo {
        font-size: 38px;
    }

    .accordion-button {
        font-size: 14px;
    }

    .accordion-body ul li a {
        font-size: 14px;
        padding:6px 0;
    }
}

@media (max-width: 525px) {
    .merch-logo {
        font-size: 35px;
    }
}

@media (max-width: 460px) {
    .merch-logo {
        font-size: 32px;
    }
}

@media (max-width: 450px) {
    .merch-cta {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}

@media (max-width: 430px) {
    .merch-logo {
        font-size: 29px;
    }
}

@media (max-width: 400px) {
    .merch-logo {
        font-size: 27px;
    }
}

@media (max-width: 376px) {
    .merch-logo {
        font-size: 26px;
    }
}
