html {
    height:100%;
}

body {
    color:#f8f9fa;
    font-family: 'Lato', sans-serif;
}

h5 {
    margin-bottom: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: black;
}

.press-start {
    font-family: 'Press Start 2P', cursive;
    margin:1rem 0;
}

/* hero section */
.hero-section img {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.overlay {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

/* icon class from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* navbar */
.main-logo-link {
    width: fit-content
}

.logo-font {
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    float:right;
}

.nav-link:hover {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item {
    color:#f8f9fa;
}

.dropdown-item:hover {
    color:#212529;
}

.form-control:focus {
    box-shadow:none
}

.navbar-toggler:focus {
    box-shadow: none;
}

input {
    color: rgba(255,255,255,.5)!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,.5)!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.5)!important;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.5)!important;;
}

.collection-button {
    background-color:#eaee12;
    margin:1rem 0;
}

.collection-button:hover {
    background-image: -webkit-linear-gradient(right, #09793b, #00d4ff);
    box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
}

.collection-button:focus {
    box-shadow: none;
}

/* media queries */
@media (min-width: 1200px) {
    .container {
        max-width:80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index:1030;
    }

    .header-container {
        padding-top:164px;
    }
}

@media (max-width: 1199px) {
    .press-start {
        margin:1rem 0 0 0;
    }
}

@media (max-width: 900px) {
    .navbar-toggler {
        float:right;
    }
}

@media (max-width: 768px) {
    .dropdown {
        padding-right:10px;
    }

    .hero-section img {
        top:59px;
    }

    .overlay {
        top:59px;
    }
}

@media (max-width: 576px) {
    .dropdown {
        padding-right:15px;
    }

    .hero-section img {
        top:48px;
    }

    .overlay {
        top:48px;
    }
}

@media (max-width: 500px) {
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .logo-font {
        font-size: 25px;
    }
}

@media (max-width: 450px) {
    .navbar-toggler {
        padding:1px 6px;
        font-size: 1em;
    }
}

@media (max-width: 414px) {
    .logo-font {
        font-size: 20px;
    }
}

@media (max-width: 376px) {
    .logo-font {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .logo-font {
        font-size: 15px;
    }
}