html {
    height:100%;
}

body {
    color:#f8f9fa;
    font-family: 'Lato', sans-serif;
}

.x-small {
    font-size: x-small;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: black;
}

.press-start {
    font-family: 'Press Start 2P', cursive;
    margin:1rem 0;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

/* hero section */
.hero-section img {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -10
}

.overlay {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    z-index: -9
}

/* icon class from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* navbar */
#topnav {
    background-color: #050114;
}

.main-logo-link {
    width: fit-content
}

.logo-font {
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:60px;
}

.sub-title {
    font-size:25px;
}

ul {
    float:right;
}

.nav-link {
    color:#f8f9fa;
}

.nav-link:hover {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item {
    color:#f8f9fa;
}

.dropdown-item:hover {
    color:#212529;
}

.form-control:focus {
    box-shadow:none
}

.navbar-toggler:focus {
    box-shadow: none;
}

.active {
    color:#ffc107;
}

.dropdown-active {
    background-color:#ffc107;
    color:#212529;
}

input {
    color: rgba(255,255,255,.5)!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,.5)!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.5)!important;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.5)!important;;
}

/* call to action */
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0;
}

.cta h4 {
    margin-right:50px;
    margin-bottom: 0;
}

.cta a {
    background-color: black;
    color:#eaee12;
    border: 1px solid #eaee12;
}

.cta a:hover {
    background-color:#eaee12;
}

.cta a:focus {
    box-shadow: none;
}

/* cryptos table */
thead tr {
    border: 1px solid #212529;
}

tbody tr {
    border-bottom: 1px solid #212529;
    border-left: 1px solid #212529;
    border-right: 1px solid #212529;
}

tbody tr:hover {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

td .btn, .modal-footer .btn {
    background-color: black;
    color:#12df2b;
    border: 1px solid #12df2b;
}

td .btn:hover, .modal-footer .btn:hover {
    background-color: #12df2b;
    color:black;
    border: 1px solid black;
}

td .btn:focus {
    box-shadow: none;
}

.small-table tr:first-child {
    border: 1px solid #212529;
}

.higher {
    color: #12df2b;
}

.lower {
    color: red;
}

/* watchlist page */
.watchlist-title {
    background-color: #07011c;
    border-top: 1px solid #212529;
}

.add-fav:hover {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* token page */
.token-pg-container {
    padding-left: 48px;
    padding-right: 48px;
}

.token-pg-image {
    width: 60px;
    margin-right:24px;
}

.token-pg-title {
    font-size: 60px;
}

.token-pg-icon {
    font-size: 40px;
}

.token-pg-rank {
    font-size: 50px;
}

.token-pg-data {
    font-size: 50px;
}

.token-pg-h {
    font-size: 30px;
}

.token-pg-btn {
    background-color: black;
    color:#12df2b;
    border: 1px solid #12df2b;
    font-size: 30px;
}

.token-pg-btn:hover {
    background-color: #12df2b;
    color:black;
    border: 1px solid black;
}

.token-pg-btn:focus {
    box-shadow: none;
} 

/* Buy crypto modal */
.crypto-modal {
    background-color:#07011c ;
}

.modal-row {
    border-bottom: 1px solid #dee2e6;
}

.modal-data-h {
    color:slategrey;
}

.modal-data {
    font-size: 18px;
}

.cancel-sell-btn {
    background-color: black !important;
    color:red !important;
    border: 1px solid red !important;
}

.cancel-sell-btn:hover {
    background-color: red !important;
    color:black !important;
    border: 1px solid black !important;
}

/* media queries */
@media (min-width: 1200px) {
    .container {
        max-width:80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index:1030;
    }

    .header-container {
        padding-top:164px;
    }

    td .btn {
        width:100%;
    }
}

@media (max-width: 1199px) {
    .press-start {
        margin:1rem 0 0 0;
    }
}

@media (max-width: 1100px) {
    .token-pg-data {
        font-size: 45px;
    }

    .token-pg-h {
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    .logo-font {
        font-size:55px;
    }

    .sub-title {
        font-size:23px;
    }

    .token-pg-image {
        width: 50px;
        margin-right:18px;
    }

    .token-pg-title {
        font-size: 50px;
    }

    .token-pg-icon {
        font-size: 30px;
    }

    .token-pg-rank {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .navbar-toggler {
        float:right;
    }

    .logo-font {
        font-size:50px;
    }

    .sub-title {
        font-size:21px;
    }

    .token-pg-data {
        font-size: 40px;
    }

    .token-pg-h {
        font-size: 20px;
    }

    .token-pg-btn {
        font-size: 25px;
    }
}

@media (max-width: 850px) {
    .logo-font {
        font-size:45px;
    }

    .sub-title {
        font-size:19px;
    }
}

@media (max-width: 800px) {
    .logo-font {
        font-size:44px;
    }

    .sub-title {
        font-size:18px;
    }

    .token-pg-image {
        width: 45px;
    }

    .token-pg-title {
        font-size: 45px;
    }

    .token-pg-icon {
        font-size: 25px;
    }

    .token-pg-rank {
        font-size: 30px;
    }

    .token-pg-data {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .logo-font {
        font-size:42px;
    }

    .dropdown {
        padding-right:10px;
    }

    .hero-section img {
        top:59px;
    }

    .overlay {
        top:59px;
    }

    .cta {
        display: block;
    }

    .cta h4 {
        margin-right:0;
        margin-bottom: 10px;
    }

    .sub-title {
        font-size:17px;
    }

    .token-pg-image {
        margin-right:12px;
    }
}

@media (max-width: 725px) {
    .token-pg-image {
        width: 38px;
    }

    .token-pg-title {
        font-size: 38px;
    }
}

@media (max-width: 650px) {
    .logo-font {
        font-size:40px;
    }

    .sub-title {
        font-size:16px;
    }

    .token-pg-image {
        width: 32px;
    }

    .token-pg-title {
        font-size: 32px;
    }

    .token-pg-icon {
        font-size: 20px;
    }

    .token-pg-rank {
        font-size: 25px;
    }

    .token-pg-data {
        font-size: 28px;
    }

    .token-pg-h {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .logo-font {
        font-size:35px;
    }

    .dropdown {
        padding-right:15px;
    }

    .hero-section img {
        top:48px;
    }

    .overlay {
        top:48px;
    }

    .cta h4 {
        font-size:15px;
    }

    .cta a {
        font-size:15px;
    }

    .sub-title {
        font-size:14px;
    }

    .token-pg-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .token-pg-image {
        width: 30px;
    }

    .token-pg-title {
        font-size: 30px;
    }

    .token-pg-icon {
        font-size: 15px;
    }

    .token-pg-rank {
        font-size: 20px;
    }

    .token-pg-data {
        font-size: 25px;
    }

    .token-pg-btn {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .logo-font {
        font-size:32px;
    }

    .sub-title {
        font-size:13px;
    }
}

@media (max-width: 500px) {
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .logo-font {
        font-size: 30px;
    }

    .sub-title {
        font-size:12px;
    }

    .merch-link {
        padding-right: 5px;
    }

    .token-pg-image {
        width: 25px;
        margin-right:10px;
    }

    .token-pg-title {
        font-size: 25px;
    }

    .token-pg-data {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .navbar-toggler {
        padding:1px 6px;
        font-size: 1em;
    }

     .logo-font {
        font-size: 27px;
    }

    .sub-title {
        font-size:11px;
    }
}

@media (max-width: 420px) {
    .logo-font {
        font-size: 22px;
    }

    .sub-title {
        font-size:9px;
    }

    .token-pg-image {
        width: 19px;
    }

    .token-pg-title {
        font-size: 19px;
    }

    .token-pg-rank {
        font-size: 18px;
    }

    .token-pg-data {
        font-size: 15px;
    }

    .token-pg-h {
        font-size: 10px;
    }
}

@media (max-width: 365px) {
    .logo-font {
        font-size: 20px;
    }

    .sub-title {
        font-size:8px;
    }

    .token-pg-image {
        width: 17px;
    }

    .token-pg-title {
        font-size: 17px;
    }

    .token-pg-icon {
        font-size: 13px;
    }

    .token-pg-rank {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .logo-font {
        font-size: 15px;
    }

     .sub-title {
        font-size:6px;
    }

    .token-pg-image {
        width: 20px;
    }

    .token-pg-title {
        font-size: 20px;
    }

    .token-pg-icon {
        font-size: 10px;
    }

    .token-pg-rank {
        font-size: 15px;
    }

    .token-pg-data {
        font-size: 12px;
    }
}