html {
    height:100%;
}

body {
    color:#f8f9fa;
    font-family: 'Lato', sans-serif;
}

.x-small {
    font-size: x-small;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: black;
}

.press-start {
    font-family: 'Press Start 2P', cursive;
    margin:1rem 0;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

/* hero section */
.hero-section img {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -10
}

.overlay {
    position:absolute;
    top:72px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    z-index: -9
}

/* icon class from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* navbar */
#topnav {
    background-color: #050114;
}

.main-logo-link {
    width: fit-content
}

.logo-font {
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    float:right;
}

.nav-link {
    color:#f8f9fa;
}

.nav-link:hover {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item {
    color:#f8f9fa;
}

.dropdown-item:hover {
    color:#212529;
}

.form-control:focus {
    box-shadow:none
}

.navbar-toggler:focus {
    box-shadow: none;
}

.active {
    color:#ffc107;
}

.dropdown-active {
    background-color:#ffc107;
    color:#212529;
}

input {
    color: rgba(255,255,255,.5)!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,.5)!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.5)!important;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.5)!important;;
}

/* call to action */
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0;
}

.cta h4 {
    margin-right:50px;
    margin-bottom: 0;
}

.cta a {
    background-color: black;
    color:#eaee12;
    border: 1px solid #eaee12;
}

.cta a:hover {
    background-color:#eaee12;
}

.cta a:focus {
    box-shadow: none;
}

/* cryptos table */
thead tr {
    border: 1px solid #212529;
}

tbody tr {
    border-bottom: 1px solid #212529;
    border-left: 1px solid #212529;
    border-right: 1px solid #212529;
}

tbody tr:hover {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

td .btn {
    background-color: black;
    color:#12df2b;
    border: 1px solid #12df2b;
}

td .btn:hover {
    background-color: #12df2b;
    color:black;
    border: 1px solid black;
}

td .btn:focus {
    box-shadow: none;
}

.small-table tr:first-child {
    border: 1px solid #212529;
}

/* watchlist page */
.watchlist-title {
    background-color: #07011c;
    border-top: 1px solid #212529;
}

.add-fav:hover {
    background: -webkit-linear-gradient(right, #09793b, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* media queries */
@media (min-width: 1200px) {
    .container {
        max-width:80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index:1030;
    }

    .header-container {
        padding-top:164px;
    }

    td .btn {
        width:100%;
    }
}

@media (max-width: 1199px) {
    .press-start {
        margin:1rem 0 0 0;
    }
}

@media (max-width: 900px) {
    .navbar-toggler {
        float:right;
    }
}

@media (max-width: 768px) {
    .dropdown {
        padding-right:10px;
    }

    .hero-section img {
        top:59px;
    }

    .overlay {
        top:59px;
    }

    .cta {
        display: block;
    }

    .cta h4 {
        margin-right:0;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .dropdown {
        padding-right:15px;
    }

    .hero-section img {
        top:48px;
    }

    .overlay {
        top:48px;
    }

    .cta h4 {
        font-size:15px;
    }

    .cta a {
        font-size:15px;
    }
}

@media (max-width: 500px) {
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .logo-font {
        font-size: 25px;
    }
}

@media (max-width: 450px) {
    .navbar-toggler {
        padding:1px 6px;
        font-size: 1em;
    }
}

@media (max-width: 414px) {
    .logo-font {
        font-size: 20px;
    }
}

@media (max-width: 376px) {
    .logo-font {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .logo-font {
        font-size: 15px;
    }
}