<!-- Products menu list -->
<div class="row section-title py-2">
    <div class="col-12">
        <ul class="list-inline list-unstyled flex justify-content-evenly my-0">
            <!-- All products -->
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="all-products" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center text-light">
                        <p class="my-0 text-uppercase">All Products</p>
                    </div>
                </a>
                <div class="dropdown-menu products-dropdown border-0 bg-dark bg-gradient" aria-labelledby="all-products">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item ">By Rating</a>
                    <a href="" class="dropdown-item ">By Category</a>
                    <a href="" class="dropdown-item">All Products</a>
                </div>
            </li>

            <!-- Clothing -->
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="clothing" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center text-light">
                        <p class="my-0 text-uppercase">Clothing</p>
                    </div>
                </a>
                <div class="dropdown-menu products-dropdown border-0 bg-dark bg-gradient" aria-labelledby="clothing">
                    <a href="" class="dropdown-item">Hoodies</a>
                    <a href="" class="dropdown-item">Shirts</a>
                    <a href="" class="dropdown-item">Hats</a>
                    <a href="" class="dropdown-item">All Clothing</a>
                </div>
            </li>

            <!-- Accessories -->
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="accessories" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center text-light">
                        <p class="my-0 text-uppercase">Accessories</p>
                    </div>
                </a>
                <div class="dropdown-menu products-dropdown border-0 bg-dark bg-gradient" aria-labelledby="accessories">
                    <a href="" class="dropdown-item">Mugs</a>
                    <a href="" class="dropdown-item">Bags</a>
                    <a href="" class="dropdown-item">Phone cases</a>
                    <a href="" class="dropdown-item">Towels</a>
                    <a href="" class="dropdown-item">All Accessories</a>
                </div>
            </li>
        </ul>
    </div>        
</div>