<!-- Products menu accordions -->
<div class="container-fluid py-3">
    <div class="row">
        <!-- All products accordion -->
        <div class="col-12 col-md-4">
            <div class="accordion accordion-flush" id="firstAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            All Products
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#firstAccordion">
                        <div class="accordion-body p-0">
                            <ul class="list-unstyled ps-0 mb-0">
                                <li><a href="" class="text-decoration-none ps-3">By Price</a></li>
                                <li><a href="" class="text-decoration-none ps-3">By Rating</a></li>
                                <li><a href="" class="text-decoration-none ps-3">By Category</a></li>
                                <li><a href="" class="text-decoration-none ps-3">All Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clothing accordion -->
        <div class="col-12 col-md-4">
            <div class="accordion accordion-flush" id="secondAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Clothing
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#secondAccordion">
                        <div class="accordion-body p-0">
                            <ul class="list-unstyled ps-0 mb-0">
                                <li><a href="" class="text-decoration-none ps-3">Hoodies</a></li>
                                <li><a href="" class="text-decoration-none ps-3">Shirts</a></li>
                                <li><a href="" class="text-decoration-none ps-3">Hats</a></li>
                                <li><a href="" class="text-decoration-none ps-3">All Clothing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accessories accordion -->
        <div class="col-12 col-md-4">
            <div class="accordion accordion-flush" id="thirdAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Accessories
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#thirdAccordion">
                        <div class="accordion-body p-0">
                            <ul class="list-unstyled ps-0 mb-0">
                                <li><a href="" class="text-decoration-none ps-3">Mugs</a></li>
                                <li><a href="" class="text-decoration-none ps-3">Bags</a></li>
                                <li><a href="" class="text-decoration-none ps-3">Phone cases</a></li>
                                <li><a href="" class="text-decoration-none ps-3">All Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  