{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'crypthomerch/css/crypthomerch.css' %}">
{% endblock %}

{% block extra_title %}
    Edit Product
{% endblock %}

{% block header %}
    <!-- Crypthomerch header -->
    {% include "includes/crypthomerch-header.html" %}
{% endblock %}

{% block sub_header %}
    <div class="container-fluid">
        <div class="row section-title py-2 ps-sm-4">
            <div class="col-12">
                <h3 class="text-uppercase mb-0 section-title-h">Product management</h3>
            </div>            
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <!-- Page sub title -->
            <div class="col-12 col-md-6 mb-4 px-4 px-sm-3">
                <h4 class="text-muted">Edit product</h4>
                <hr>
            </div>
            <!-- Back buttons -->
            <div class="col-12 order-first col-md-6 order-md-last text-end">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 back-btn">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </a>
            </div>
        </div>

        <!-- Add product form -->
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- enctype attribute required in order to submit an image file -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2 add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <!-- Buttons -->
                    <div class="text-end mt-5 mb-2">
                        <!-- Cancel button -->                    
						<a href="{% url 'all_merch' %}" class="btn text-light border-white rounded-0 text-uppercase">
                            Cancel
						</a>
                        <!-- Add product button -->
						<button type="submit" id="product-submit-btn" class="btn atb-btn text-light rounded-0 text-uppercase">
							Edit Product
						</button>                
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Product form validation script -->
    {% include 'merch/includes/product_form_validation.html' %}
    <!-- Image field script -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
