{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Crypthomerch app css file -->
    <link rel="stylesheet" href="{% static 'crypthomerch/css/crypthomerch.css' %}">
{% endblock %}

{% block extra_title %}
    {{ product.name|title }}
{% endblock %}

{% block header %}
    <!-- Crypthomerch header -->
    {% include "includes/crypthomerch-header.html" %}
{% endblock %}

{% block sub_header %}
    <!-- Crypthomerch accordion -->
    {% include "includes/products-menu-accordion.html" %}
{% endblock %}

{% block content %}
    <!-- Back button -->
    <div class="container-fluid pe-3 pe-md-5 mt-2">
        <div class="row">
            <div class="col-12 text-end">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn bg-main text-light border-white rounded-0 back-btn">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <!-- Product detail -->
    <div class="container-fluid">
        <div class="row pt-4 pb-5">
            <!-- Image -->
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="/media/{{ product.image }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- Detail -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">
                        {{ product.name }}
                    </p>
                    <p class="lead mb-0 text-start fw-bold">
                        £{{ product.price }}
                    </p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'all_merch' %}?category={{ product.category.name }}" class="text-muted">
                                <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }}/5</small>
                    {% else %}
                        <small class="text-muted">
                            No rating
                        </small>
                    {% endif %}
                    <!-- Edit and delete buttons -->
                    {% if request.user.is_superuser %}
                        <small class="ms-3">
                            <a class="link" href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger link" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">
                        {{ product.description }}
                    </p>

                    <!-- Add to bag form -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                                <!-- Size selector -->
                                {% if s %}
                                    <div class="col-12">
                                        <p><strong>Size:</strong></p>
                                        <select name="product_size" id="product_size" class="form-control rounded-0 w-50">
                                            <option value="xs">XS</option>
                                            <option value="s">S</option>
                                            <option value="m">M</option>
                                            <option value="l">L</option>
                                            <option value="xl">XL</option>
                                        </select>
                                    </div>
                                {% endif %}
                                <!-- Quantity input -->                                                  
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- Decrementer -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn text-light border-white rounded-0" data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- Input -->
                                            <input class="form-control qty_input qty_input_{{ product.id }}" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                            <!-- Incrementer -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn text-light border-white rounded-0" data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit and keep shopping buttons -->
                                <div class="col-12 mt-5">
                                    <a href="{% url 'all_merch' %}" class="btn text-light border-white rounded-0">
                                        <span class="icon me-2">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn atb-btn rounded-0 text-uppercase" value="Add to Bag">
                                </div>
                                <!-- Hidden input to submit the current url, in order to redirect the user to the same page once the product is added to their bag  -->
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'merch/includes/merch_quantity_input_script.html' %}
{% endblock %}