{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    500 Internal Server Error
{% endblock %}

{% block cta %}
    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row bg-black text-center">
            <div class="col-12 cta crypto-cta d-block d-md-flex justify-content-center align-items-center">
                <h4 class="body-white text-uppercase me-md-5 mb-md-0">Free delivery on merch orders over £{{ free_delivery_threshold }}!</h4> 
                <a href="{% url 'all_merch' %}" class="btn rounded-0 text-uppercase">View Collection</a>
            </div>            
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12">
                <p class="lead mb-5 text-uppercase">Ooops....There was an internal server error</p>
                <a href="{% url 'home' %}" class="btn text-light border-white rounded-0 btn-lg text-uppercase">
                    Back to Crypthome
                </a>
            </div>
        </div>
    </div>
{% endblock %}