<script type="text/javascript">

    // Disable buttons fuction
    function HandleEnableDisable() {
        // Grab all quantity inputs by their item_id and for each check their value
        let qtySizeInputs = document.querySelectorAll(`.qty_input`);
        qtySizeInputs.forEach((input) => {
            // If value below 2 disable its decrementer
            parseInt(input.value) < 2 ? input.previousElementSibling.firstElementChild.setAttribute('disabled', '') : input.previousElementSibling.firstElementChild.removeAttribute('disabled');
        })
    }

    // Grab all quantity input elements on both product detail and bag pages
    let qtyInputs = document.querySelectorAll('.qty_input');
    // Call the function on current quantity input as soon as page loads to prevent user from selecting a '0' value, as default input value is 1
    qtyInputs.forEach((input) => {
        HandleEnableDisable();
    })

    // Listen to change event on current built in up and down number box arrows of current quantity input and call the function, to prevent user to go above 99 or below 2 by using them
    qtyInputs.forEach((input) => {
        input.addEventListener('change', () => {
            HandleEnableDisable()
        });
    })

    // Grab incremement_qty elements on both product detail and bag pages
    let incrementers = document.querySelectorAll('.increment-qty');
    // Increment quantity on current input element
    incrementers.forEach((incrementer) => {
        incrementer.addEventListener('click', (e) => {
            // Prevent default button functionality
            e.preventDefault();
            // Grab current incrementer parent node
            let parent = incrementer.parentNode;
            // Grab current incrementer parent node previous sibling and change its value
            let siblingInput = parent.previousElementSibling;
            siblingInput.value = parseInt(siblingInput.value) + 1;
            // Call disable button function on current incrementer
            HandleEnableDisable();
        });
    })
    
    // Grab incremement_qty elements on both product detail and bag pages
    let decrementers = document.querySelectorAll('.decrement-qty')
    // Decrement quantity on current input element
    decrementers.forEach((decrementer) => {
        decrementer.addEventListener('click', (e) => {
            // Prevent default button functionality
            e.preventDefault();
            // Grab current decrementer parent node
            let parent = decrementer.parentNode;
            // Grab current decrementer parent node next sibling and change its value
            let siblingInput = parent.nextElementSibling;
            siblingInput.value = parseInt(siblingInput.value) - 1;
            // Call disable button function on current decrementer
            HandleEnableDisable()
        });
    })
</script>